@import url('https://fonts.googleapis.com/css2?family=Anta&family=Michroma&family=Saira+Stencil+One&family=Kelly+Slab&family=Atomic+Age&family=Keania+One&family=Tourney&family=Syncopate&family=Geo&family=Goldman&family=Turret+Road:wght@200;300;400;500;700;800&family=Unica+One&family=Genos&display=swap');

.f-anta {
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.f-tourney {
  font-family: "Tourney", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.f-syncopate {
  font-family: "Syncopate", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.f-michroma {
  font-family: "Michroma", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.f-geo {
  font-family: "Geo", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.f-unica-one {
  font-family: "Unica One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.f-ss-one {
  font-family: "Saira Stencil One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.f-atomic-age {
  font-family: "Atomic Age", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.f-keania-one {
  font-family: "Keania One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.f-kelly-slab {
  font-family: "Kelly Slab", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.f-turet-road {
  font-family: "Turet Road", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.f-geo-italic {
  font-family: "Geo", sans-serif;
  font-weight: 400;
  font-style: italic;
}
.f-goldman {
  font-family: "Goldman", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.f-genos {
  font-family: "Genos", sans-serif;
  font-weight: 400;
  font-style: normal;
}
